<ion-view  hide-nav-bar="true">
<ion-content  style="background-color:#F5F5F5 !important;">
  <div class="logo" style="text-align: center;">
  <img src="img/logo.png" alt="Logo" style="width: 70%;">
  </div>
  <h4 style="text-align: center;" >Seleccione una categoria</h4>
    <div class="list">

  <label class="item item-input item-select" style="background-color: transparent;">
    <div class="input-label" >
      Categorias
    </div>
    <select style="background: transparent;" id="categoria">
      <option value="1">Prueba 1</option>
      <option value="2">Prueba 2</option>
      <option value="3">Prueba 3</option>
    </select>
  </label>

  <button class="button button-clear button-full button-dark" ng-click="aceptar();">
  Aceptar
</button>

</div>
 
  </ion-content>
</ion-view>