<ion-view view-title="Detalles">
  <ion-content style="background-color:#F5F5F5 !important;">
  <div class="list card" >


  <div class="item item-body">
    <img class="full-image" src="img/examen.png">
    <p>
     Esta a un click de enbarcarse en una aventura llamada conocimiento, en este text de XXXXX que previamente seleccioanste encantraras 50 preguntas hacerca de XXXXX las cules seran escogidas aleatoriamente de nuestro banco de mas de 1000 preguntas. Exitos
    </p>
  </div>

</div>
<button class="button button-clear button-full button-dark" ng-click="continuar();">Continuar</button>
  </ion-content>
</ion-view>